@import "@material/button/mdc-button";

.toggle-btn {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded(10px);
  @include mdc-states;
  margin-right: 12px;
}

.tree-folder {
  margin-right: 8px;
}

.tree-element {
  color: rgb(117, 117, 117);
}

.parent-entry {
  font-weight: bold;
}
