@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/list/mdc-list";
@import "@material/checkbox/mdc-checkbox";

body {
  margin: 0;
}

.toggle-btn {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded(10px);
  @include mdc-states;
  margin-right: 12px;
}

.ripple-btn {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded(18px);
  @include mdc-states;
}

.backup-icon {
  padding-left: 8px;
}

.bookmark-item {
  padding-top: 0px;
  padding-bottom: 0px;
}

.tree-folder {
  margin-right: 8px;
}

.tree-element {
  color: rgb(117, 117, 117);
  margin-left: 40px;
}

.parent-entry {
  font-weight: bold;
}
